@model Hospital_appointment_system.ViewModels.DashboardViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Dashboard";
}
<h2>Welcom,@User.Identity.Name !</h2>
<p>@Model.WelcomeMessage</p>
@section Scripts {
    <!-- Include any JavaScript needed for your dashboard, like charting libraries -->
}