@model DoctorViewModel

<div class="mt-1">
	<form method="post" asp-action="DeletePOST">
	<input asp-for="doctor.DoctorID" hidden />
	<div calss="border p-3 mt-4">
		<div calss="row pd-2">
			<h2 class="text-primary">Delete Doctor</h2>
			<hr />

		</div>
	</div>
	<div class="mb-3">
		<label asp-for="doctor.Name"></label>
		<input asp-for="doctor.Name" disabled class="form-control" />
	</div>
	<div class="mb-3">
		<label asp-for="doctor.Specialization"></label>
		<input asp-for="doctor.Specialization" disabled class="form-control" />
	</div>
	<div class="input-group mb-3">
		<label asp-for="doctor.DepartmentID" class="input-group-text"></label>
		<select class="form-select" disabled id="inputGroupSelect01" asp-for="doctor.DepartmentID">
			<option selected>Choose...</option>
			@foreach (var clinics in Model.clinicList)
			{
				<option value="@clinics.ClinicID">@clinics.Name</option>
			}
		</select>
	</div>
	<button type="submit" class="btn btn-danger" style="width:150px">Delete</button>
	<a asp-controller="Doctor" asp-action="Index" class="btn btn-secondary" style="width:150px">
		Back to List
	</a>
</form>
</div>

