@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "_Layout";
}
@using Hospital_appointment_system.ViewModels;
@model AvailableAppointmentsViewModel
<section id="appointment" class="appointment section-bg" style="margin-top:100px">
    <div class="container">

        <div class="section-title">
            <h2>Make an Appointment</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <form method="post" asp-controller="Randevu" asp-action="DoktorFiltere">
            <div class="row g-2">
                
                <div class="col-2 form-group mt-3" style="padding-left:100px">
                    <label class="form-label">Clinic</label>
                    
                </div>
                <div class="col-8 form-group mt-3">
                    <select asp-for="clinic.ClinicID" class="form-select" id="mySelectOfClinic">
                        <option></option>
                        @foreach (var item in Model.clinics)
                        {
                            <option value="@item.ClinicID">@item.Name</option>
                        }
                    </select>
                    <div class="validate"></div>
                </div>
                <div class="validate"></div>
            </div>
            <div class="row g-2">
                <div class="col-2 form-group mt-3" style="padding-left:100px">
                    <label class="form-label">Doctor</label>
                </div>
                <div class="col-8 form-group mt-3">
                    <select asp-for="doctor.DoctorID" class="form-select ListOfDoctors" id="mySelectOfDoctor" disabled>
                        <option></option>
                    </select>
                </div>
            </div>
            <div class="row g-2">
                <div class="col-2 form-group mt-3" style="padding-left:100px">
                    <label class="form-label">Working Hour</label>
                </div>
                <div class="col-8 form-group mt-3">
                    <select asp-for="workingHour.HoursID" class="form-select ListOfWorkingHour" disabled>
                    </select>
                </div>
                <div class="validate"></div>
            </div>
            <div class="text-center"><button class="btn btn-primary" type="submit">Make an Appointment</button></div>
        </form>

    </div>
</section>

@section Scripts {
    @{
        <partial name="_validationScriptsPartial" />
    }
    <script>
        const container = document.querySelector(".ListOfDoctors");
        const container2 = document.querySelector(".ListOfWorkingHour");

        document.getElementById("mySelectOfClinic").addEventListener("change", function () {
            let selectedValue = this.value;
            console.log(selectedValue);
            $.ajax({
                type: "GET",
                url: "/Appointment/DoctorjsonData",
                data: { ClinicID: selectedValue },
                success: function (details) {
                    console.log(details);
                    DisplayDetailsOfDoctor(details);
                },
                error: function (error) {
                    alert("Error");
                }
            });
        });
        function DisplayDetailsOfDoctor(data) {
            let html = "<option></option>";
            data.forEach(item => {
                html += `<option value="${item.doctorID}">${item.name}</option>`;
            });
            container.innerHTML = "";
            container.insertAdjacentHTML("afterbegin", html);
            container.disabled = false;
        };
        //////////////////
        document.getElementById("mySelectOfDoctor").addEventListener("change", function () {
            selectedValue = this.value;
            console.log(selectedValue);
            $.ajax({
                type: "GET",
                url: "/Appointment/WorkingHourjsonData",
                data: { DoctorID: selectedValue },
                success: function (details) {
                    console.log(details);
                    DisplayDetailsOfWorkingHour(details);
                },
                error: function (error) {
                    alert("Error");
                }
            });
        });
        function DisplayDetailsOfWorkingHour(data) {
            html = "<option></option>";
            data.forEach(item => {
                html += `<option value="${item.hoursID}">${item.dayOfWeek} ${item.startTime} - ${item.endTime}</option>`;

            });
            container2.innerHTML = "";
            container2.insertAdjacentHTML("afterbegin", html);
            container2.disabled = false;
        };
    </script>
}
